.chip-close {
  position: absolute;
  right: 10px;
}

.group-delete {
  position: absolute;
  right: 50px;
  bottom: 14px;
}
.chip-list {
  min-height: 5vh;
  max-height: 40vh !important;
  overflow: auto;
}

:host ::ng-deep {
  .mat-chip-list-wrapper {
    margin: 0;
  }
}

.plus-button {
  font-size: 25px;
}

.сustom-group-list {
  max-height: 55vh !important;
  overflow: auto;
}
