.chip-close {
  position: absolute;
  right: 10px;
}

.chip-list {
  min-height: 5vh;
  max-height: 40vh !important;
  overflow: auto;
}

:host ::ng-deep {
  .mat-chip-list-wrapper {
    margin: 0;
  }
}

.plus-button {
  font-size: 25px;
}


.custom-group-list {
  max-height: 75vh !important;
  overflow: auto;
}
