<mat-accordion>
  <mat-expansion-panel [expanded]="!isMobileDevice">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'MAIN.SUBSCRIBE.SUBSCRIBE_TO_NEW_CHANNEL' | translate }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="row">
      <form [formGroup]="detailsForm">
        <ng-select formControlName="networkType" class="col-12" [items]="networks" [clearable]="false">
        </ng-select>
        <mat-form-field [class.mat-form-field-invalid]="submitted && f.channelName?.errors" class="col-12">
          <input formControlName="channelName" matInput [placeholder]="'MAIN.SUBSCRIBE.CHANNEL_NAME' | translate"
            required>
          <mat-error *ngIf="submitted && f.channelName?.errors?.required">
            {{ 'VALIDATION.ERRORS.FIELD_REQUIRED' | translate:{'fieldName':'MAIN.SUBSCRIBE.CHANNEL_NAME' | translate} }}
          </mat-error>
        </mat-form-field>
        <button mat-raised-button class="col-12 mt-2" (click)="save()" color="primary"> {{ 'MAIN.SUBSCRIBE.SUBSCRIBE' |
          translate }}</button>
      </form>
      <div class="row m-0 mt-3">
        <button (click)="addNewGroup()" class="col-12 p-1" mat-stroked-button color="primary">
          <i class="fab fa-plus mb-1 me-2 plus-button"></i>
          {{ 'BUTTONS.ADD_NEW_GROUP' |translate }}</button>
        <mat-accordion class="p-0 mt-2 сustom-group-list">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ 'MAIN.SUBSCRIBE.ALL_SUBSCRIPTIONS' | translate }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <button (click)="selectGroup()" *ngIf="userSubscriptions.length > 0" class="col-12 p-1 mb-1"
              mat-stroked-button color="primary">
              {{ 'BUTTONS.VIEW_THIS_GROUP' | translate}}</button>
            <div class="row chip-list">
              <mat-chip-list>
                <p *ngIf="userSubscriptions.length === 0"> {{ 'MAIN.SUBSCRIBE.NO_ACTIVE_SUBSCRIPTIONS' | translate }}
                </p>
                <mat-chip class="col-12" *ngFor="let subscriptions of userSubscriptions"
                  (removed)="unsubscribeChannel(subscriptions)">
                  <span class="truncate" style="max-width: 75%;">
                    {{subscriptions.displayChannelName}}
                  </span>
                  <i class="fab fa-telegram telegram-icon ms-1" aria-hidden="true"
                    *ngIf="subscriptions.networkType == 'Telegram'"></i>
                  <i class="fab fa-vk vk-icon ms-1" aria-hidden="true" *ngIf="subscriptions.networkType == 'VK'"></i>
                  <button class="chip-close" matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
              </mat-chip-list>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel *ngFor="let groupSubscription of groupSubscriptions">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ groupSubscription.groupName }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <button (click)="selectGroup(groupSubscription.groupName)"
              *ngIf="groupSubscription.subscriptions && groupSubscription?.subscriptions?.length! > 0"
              class="col-12 p-1 mb-1" mat-stroked-button color="primary">
              {{ 'BUTTONS.VIEW_THIS_GROUP' | translate}}</button>
            <button (click)="addChanelToGroup(groupSubscription.groupName!)" class="col-12 p-1 mb-1" mat-stroked-button
              color="primary">
              <i class="fab fa-plus mb-1 me-2 plus-button"></i>
              {{ 'BUTTONS.ADD_SUBSCRIPTION' | translate}}</button>
            <div class="row chip-list">
              <mat-chip-list>
                <p *ngIf="!groupSubscription?.subscriptions || groupSubscription?.subscriptions?.length === 0"> {{
                  'MAIN.SUBSCRIBE.NO_ACTIVE_SUBSCRIPTIONS' |
                  translate }}</p>
                <mat-chip class="col-12" *ngFor="let subscriptions of groupSubscription.subscriptions"
                  (removed)="unsubscribeGroupChannel(groupSubscription?.groupName!, subscriptions)">
                  <span class="truncate" style="max-width: 75%;">
                    {{subscriptions.displayChannelName}}
                  </span>
                  <i class="fab fa-telegram telegram-icon ms-1" aria-hidden="true"
                    *ngIf="subscriptions.networkType == 'Telegram'"></i>
                  <i class="fab fa-vk vk-icon ms-1" aria-hidden="true" *ngIf="subscriptions.networkType == 'VK'"></i>
                  <button class="chip-close" matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
              </mat-chip-list>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
