<mat-card class="center-screen mat-elevation-z4">
  <mat-card-content class="">
    <form [formGroup]="detailsForm">
      <h2>{{ 'LOGIN.LOGIN_TITLE' | translate }}</h2>
      <mat-form-field [class.mat-form-field-invalid]="submitted && f.emailOrlogin?.errors?.required">
        <input formControlName="emailOrlogin" matInput [placeholder]="'LOGIN.EMAIL_OR_LOGIN' | translate" required>
        <mat-error *ngIf="submitted && f.emailOrlogin?.errors?.required">
          {{ 'VALIDATION.ERRORS.FIELD_REQUIRED' | translate:{'fieldName':'LOGIN.EMAIL_OR_LOGIN' | translate} }}
        </mat-error>
      </mat-form-field>
      <mat-form-field [class.mat-form-field-invalid]="submitted && f.password?.errors?.required">
        <input formControlName="password" matInput [type]="hidePassword ? 'password' : 'text'"
          [placeholder]="'LOGIN.PASSWORD' | translate" required>
        <button tabindex="-1" class="mat-icon-size" mat-icon-button matSuffix
          (click)="$event.stopPropagation(); $event.preventDefault(); hidePassword = !hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="submitted && f.password?.errors?.required">
          {{ 'VALIDATION.ERRORS.FIELD_REQUIRED' | translate:{'fieldName':'LOGIN.PASSWORD' | translate} }}
        </mat-error>
      </mat-form-field>
      <div>
        {{ 'MESSAGES.ACCOUNT_NOT_EXISTS' | translate }}
        <br>
        <a class="link" [routerLink]="['/registration']">{{ 'BUTTONS.REGISTRATION' | translate }}</a>
      </div>
      <button class="col-12 mt-2" mat-raised-button color="primary" (click)="save()">{{ 'BUTTONS.LOGIN' | translate
        }}</button>
    </form>
  </mat-card-content>
</mat-card>
