<div class="row">
  <div class="col-md-3 col-sm-12" style="height: fit-content !important;">
    Subscribe to new Channel
  </div>
  <div class="col-md-9 col-sm-12 row m-0 " style="height: 80vh;">
    <div class="col-12">
      <mat-card *ngFor="let item of messages" class="mt-3 mat-elevation-z4">
        <mat-card-header>
          <mat-card-title> <a [href]="item.originalContentLink" target="_blank">{{item.channelName}}
              <i class="fab fa-telegram telegram-icon" aria-hidden="true" *ngIf="item.networkType == 'Telegram'"></i>
              <i class="fab fa-vk vk-icon" aria-hidden="true" *ngIf="item.networkType == 'VK'"></i>
            </a>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="card-content-wrapper">
          <div class="fit-content row" *ngFor="let media of item.networkMedia">
            <img class="photo" [src]="media.contentUrl" *ngIf="media.mediaType === 'Photo'" />
            <iframe loading="lazy" class="video" controls [src]="media.contentUrl!"
              *ngIf="(media.mediaType === 'Video' && item.networkType == 'VK')" webkitallowfullscreen mozallowfullscreen
              allowfullscreen></iframe>
            <video poster="../../../../../../assets/images/start-button.png" *ngIf="(media.mediaType === 'Video' && item.networkType == 'Telegram')"
              class="video" controls="controls" preload="none">
              <source [src]="media.contentUrl!" type="video/mp4">
              Sorry, your browser doesn't support embedded videos.
            </video>
          </div>

          <p class="col-12 mt-2 custom-font">
            {{item.text}}
          </p>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
