:host {
  ::ng-deep {
    mat-card > mat-card-header > div.mat-card-header-text {
      margin-left: 0;
    }
  }
}

.card-content-wrapper {
  display: flex;
  flex-wrap: wrap;
}

a {
  color: #0f7afc;
  border-bottom-color: rgba(15, 122, 252, 0.2);
  text-decoration: none;
}
a:hover {
  color: #cf0000;
  border-bottom-color: rgba(208, 64, 0, 0.2);
  text-decoration: none;
}
a:visited {
  color: #800080;
  border-bottom-color: rgba(128, 0, 128, 0.2);
  text-decoration: none;
}

.fit-content {
  height: fit-content;
}

.video {
  max-width: 70%;
  max-height: 70%;
  min-height: 50vh;
  min-width: 35vw;
}

.photo {
  max-width: 90%;
  max-height: 90%;
}

.custom-font {
  font: message-box;
  font-family: "Roboto";
}
