@import "/node_modules/bootstrap/scss/bootstrap-grid.scss";

mat-card {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  min-width: 400px;
}

mat-form-field {
  display: block;
}

a.link {
  color: #0f7afc;
  border-bottom-color: rgba(15, 122, 252, 0.2);
  text-decoration: none;
}
a.link:hover {
  color: #cf0000;
  border-bottom-color: rgba(208, 64, 0, 0.2);
  text-decoration: none;
}

.mat-icon-size {
  font-size: 25px !important;
}

@include media-breakpoint-down(sm) {
  mat-card {
    width: 100% !important;
    max-width: none !important;
    min-width: auto !important;
  }
}
